.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-0x11);
    z-index: 1;

    .modal {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        margin: 0 auto;
        padding: 40px 20px;
        background: var(--color-0x4);
        border-radius: var(--border-0x1);
        text-align: center;

        .modal__btn {
            padding: 10px 30px;
            color: var(--color-0x4);
            background: var(--color-0x1);
            border-radius: 5px;
            cursor: pointer;
            border: none;
            transition: all 0.3s ease;
            font-size: 16px;

            &:hover {
                background-color: var(--color-0xB);
            }
        }

        .modal__icon {
            font-size: 5rem;
        }

        .success {
            color: var(--color-0x5);
        }

        .error {
            color: var(--color-0x6);
        }

        p {
            font-size: 14px;
        }
    }

    .circular {
        padding: 10px 30px;
        background: none;
        transform: translateY(35vh);
    }
}

@media screen and (max-width: 810px) {
    .modal {
        width: 325px;
    }
}