.profile {
    padding: 5rem 2rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(5, 1fr);

    .info {
        grid-column-start: 1;
        grid-column-end: 3;

        .profie__card {
            min-width: auto;

            .card__content {
                display: flex;
                justify-content: center;
            }
        }
    }

    .update__details {
        grid-column-start: 3;
        grid-column-end: 6;
    }

    @media screen and (max-width: 1090px) {
        padding: 2rem 1rem;

        .info {
            grid-column-start: 1;
            grid-column-end: 6;
        }

        .update__details {
            grid-column-start: 1;
            grid-column-end: 6;
        }

    }
}