.settings {
    padding: 5rem 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    
    .table {
        grid-column-start: 3;
        grid-column-end: 6;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        
        .table_container {
            min-height: 51rem;

            .alert {
                background: inherit;
            }

        }
    }
    
    .config {
        box-shadow: var(--box-shadow0x01);
        grid-column-start: 1;
        grid-column-end: 3;
        background: linear-gradient(to right bottom, #f0f0f0, #f4f4f4, #f7f7f7, #fbfbfb, #ffffff);
        padding: 2rem;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        max-height: 55rem;
        min-height: 55rem;


        .config__form {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .switch {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
            }
        }

        .add__baseline {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .remove__baseline {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }


    @media screen and (max-width: 1090px) {
        padding: 2rem 1rem;

        .table {
            grid-column-start: 1;
            grid-column-end: 6;
        }

        .config {
            grid-column-start: 1;
            grid-column-end: 6;
        }

    }
}