.landing {
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@700&family=Ubuntu:wght@300;400;500;700&display=swap');

    .tool__bar {
        div.MuiTypography-root.MuiTypography-h6.css-8oqgcd-MuiTypography-root {
            font-weight: 700;
        }

        .to__gateway {
            text-decoration: none;
            color: var(--color-0x4);
        }
    }

    .main__content {
        padding: 2rem 0.5rem;

        .row__one {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;

            .banner {
                img {
                    height: 30rem;

                    @media screen and (max-width: 800px) {
                        height: 20rem;
                    }
                }

            }

            .textArea {
                div.MuiTypography-root.MuiTypography-h4.css-5lbw0b-MuiTypography-root {
                    color: var(--color-0x1);
                    font-weight: 600;
                    font-family: 'Courier New', Courier, monospace;

                    span {
                        background: radial-gradient(227.48% 373.86% at 50% 220.45%, #9e7bff 31.77%, #3d8bd3 100%);
                        background-clip: text;
                        color: transparent;
                    }

                    .blink {
                        font-weight: 1000;
                        animation: blinker 1s linear infinite;

                        @keyframes blinker {
                            50% {
                                opacity: 0;
                            }
                        }
                    }
                }

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                @media screen and (max-width: 800px) {
                    align-items: center;
                    text-align: center;
                }

                .to__gateway {
                    text-decoration: none;
                    color: var(--color-0x4);
                }
            }

            @media screen and (max-width: 800px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .row__two {
            margin-top: 10rem;
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .h3__header {
                font-weight: 700;
            }

            @media screen and (max-width: 700px) {
                .h3__header {
                    font-size: 2rem;
                }

            }
        }

        .row__three {
            display: flex;
            margin-top: 10rem;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            @media screen and (max-width: 700px) {
                flex-direction: column;
            }

            .cardContent {
                display: flex;
                gap: 1rem;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    background: radial-gradient(227.48% 373.86% at 50% 220.45%, #9e7bff 31.77%, #3d8bd3 100%);
                    border-radius: 50%;
                    padding: 1rem;
                }
            }
        }

        .row__four {
            margin: 10rem auto;
            background: radial-gradient(227.48% 373.86% at 50% 220.45%, #9e7bff 31.77%, #3d8bd3 100%);
            padding: 5rem 10rem;
            text-align: center;
            border-radius: 5px;

            .h4__header {
                font-weight: 700;
            }

            @media screen and (max-width: 700px) {
                padding: 5rem 2rem;

                .h4__header {
                    font-size: 1.5rem;
                }
            }
        }

        .row__five {
            display: flex;
            flex-direction: column;
            gap: 5rem;
            margin-top: 10rem;

            @media screen and (max-width: 800px) {

                .flex__box {
                    flex-direction: column;

                    img {
                        display: none;
                    }

                    .textArea {
                        padding: 1rem;
                    }
                }
            }

            img {
                width: 25rem;
            }

            .textArea {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding: 0 5rem;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;

                    svg {
                        font-size: 2rem;
                        color: var(--color-0x11);
                    }
                }
            }
        }
    }

}

.footer {
    margin-top: 5rem;
    background: #24262b;
    padding: 6rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .social__links {
        display: flex;
        gap: 1rem;

        div {
            cursor: pointer;

            svg {
                transition: all 0.5s ease;
                font-size: 3rem;
                color: var(--color-0x4);
                background: var(--color-0x11);
                padding: 0.8rem;
                border-radius: 50%;
            }

            &:hover {
                svg {
                    background: var(--color-0x4);
                    color: var(--color-0x11);
                }
            }

        }
    }
}